<!DOCTYPE html>
<html>

<head>
  <title>GitHub API Example</title>
  <meta name="description" content="Github API app with Nodejs Server.">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <header>
    <h1>Github API Data</h1>
    <p>This page uses Handlebars as the template engine.</p>
  </header>

  <main>


    <p>
      You are now logged in.
    </p>
    <p>
      <a href="/logoff">Sign out</a>
    </p>

    <a class="container" href="/auth/github">Log-in with GitHub</a>




    <h2>'s Repositories</h2>
    <ul class="collapsible">

      <li>-- owned by </li>

    </ul>

  </main>

</body>

</html>